<!-- 
  Se incluye el formulario para el alta de contactos.
  Para trabajar con formularios se necesita hacer uso de la directiva 'ngForm'.
  Para obtener la referencia a la instancia 'FormGroup' del formulario, se usa un template reference variable, a la cual se le asigna como valor la propia directiva 'ngForm'
-->
<form ngForm #formularioContacto="ngForm" (ngSubmit)="notificarContacto(formularioContacto)">
  <!--
    Se incluye una caja para dar de alta contactos
    Para trabajar con elementos de formulario se necesita hacer 
    uso de la directiva 'ngModel'.
    Para obtener la referencia a la instancia 'FormControl' del 
    elemento, se utiliza un template reference variable, al 
    cual se le asisgna como valor la propia directiva 'ngModel'.
  -->
  
  <!-- Nombre del contacto -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="inputNombre">Nombre</label>
      <input 
        class="u-full-width"
        id="inputNombre"
        placeholder="Ej. Ezzio"
        type="text"
        ngModel
        name="nombreContacto"
        #nombreContactoRef="ngModel"
        required>
      <!--
        Con la directiva 'ngIf' se escribe, o no, un elemento en el DOM; es decir, se renderiza en el navegador en función de si la expresión introducida como valor se resuelve a 'true' o 'false'
      -->
      <div *ngIf="nombreContactoRef.touched && nombreContactoRef.invalid" class="mensaje-error">El nombre es un dato obligatorio
      </div> 
    </div>
  </div>
  
  
  <!-- Apellidos del contacto -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="inputApellidos">Apellidos</label>
      <input 
        class="u-full-width"
        id="inputApellidos"
        placeholder="Ej. Auditore"
        type="text"
        ngModel
        name="apellidoContacto">
    </div>
  </div>
  
  <!-- Móvil del contacto -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="inputMovil">Móvil</label>
      <input 
        class="u-full-width"
        id="inputMovil"
        placeholder="Ej. 687 123 456"
        type="text"
        ngModel
        name="movilContacto">
  </div>
</div>
  
  <!-- eMail del contacto -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="inputEmail">eMail</label>
      <input 
            class="u-full-width"
        id="inputEmail"
        placeholder="Ej. Ezzio@Assassins.it"
        type="text"
        ngModel
        name="emailContacto">
  </div>
</div>
  
  <!-- Cuenta FB del contacto -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="inputFB">FaceBook</label>
      <input 
        class="u-full-width"
        id="inputFB"
        placeholder="Ej. Ezzio.Auditore"
        type="text"
        ngModel
        name="facebookContacto"
      >
  </div>
</div>
  
  <!-- Cuenta twitter del contacto -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="inputTwitter">Twitter</label>
      <input 
        class="u-full-width"
        id="inputTwitter"
        placeholder="Ej. @EzzioAssassin"
        type="text"
        ngModel
        name="twitterContacto">
  </div>
</div>

  <!--
    Se incluye el boton de guardar y se invalida si no se informa el campo
  -->
  <div class="row">
    <div class="offset-by-three six columns">
      <button 
      type="submit" 
      [disabled]="formularioContacto.invalid"
      class="u-full-width button-primary">
      Guardar contacto
      </button>
        
  </div>
</div>
</form>